*{
  --backgroundColor01: #999999;
  --backgroundColor02: #444444;
  --textColor01: #DDDDDD;
  --textColor02: #010101;
  --textColorContrast: #FFFFFF;
  --contrastColor01: #00FF00; 
  --contrastColor02: #FF8800;
}

/*login exclusives*/
.loginHeader{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: var(--backgroundColor02);
  color: var(--textColor01);
  text-align: center;
  max-width: 960px;
  margin: auto;
  margin-bottom: 2px;
}

h1{
  font-size: 2rem;
}

/*others*/
.header{
  background-color: var(--backgroundColor02); 
  max-width: 960px; 
  margin: auto;  
}

.menu{
  display: inline;
  border: 0;
  padding: 0.05rem;    
}

.menuItem{
  display: flex;  
  flex-direction: row; 
  justify-content: center;
  padding: 0.50rem;
  font-size: 1.6rem;
  color: var(--textColor01);
  border-width: 0.5px;
  border-style: solid;
  border-color: var(--contrastColor02);  
  margin: auto;
  margin-left: 7.5vw;
  margin-bottom: 5px;
  border-radius: 5px;  
  width: 80vw;
  max-width: 600px;  
}

.menuLink{
  text-decoration: none;
}

.menuLinkActive{
  background-color: var(--contrastColor02);
  height: 32px;
  font-size: 1.8rem;
  width: 85vw;
  margin-left: 5vw;
  font-weight: 600;
  color: var(--textColorContrast);    
}

.subTitle{
  text-align: center;
  font-size: 1.5rem;
  padding-bottom: 10px;
  font-weight: 700;  
}

main{
  max-width: 960px;
  margin: auto;
  background-color: var(--backgroundColor01);
}

.form{
  background-color: var(--backgroundColor01);
  color: var(--textColor02);
  max-width: 960px;
  margin: auto;
  margin-top: 2px;
}

.fieldSet{
  border: none; 
  padding-top: 5px;
}

.inputField{
  width: 85vw;
  margin-left: 7.5vw;  
  max-width: 600px;
  height: 3rem;
  padding: 0;
  border: 0;
  margin-bottom: 0.50rem;
  border-radius: 10px;
  font-size: 1rem;
  text-align: center;  
}

fieldset > label{
  display: block;
  text-align: center;
  font-size: 1.1rem;
  padding-bottom: 1px;
  font-weight: 600;
}

.sendButton{
  width: 85vw;
  max-width: 600px;
  margin-left: 7.5vw;
  height: 4rem;
  margin-top: 1.3rem;
  color: var(--contrastColor02);
  background-color: var(--backgroundColor02);
  font-size: 2.5rem;
  font-weight: 500;
  border-radius: 15px;
  border-color: var(--contrastColor02);
  border-width: 2px;
  margin-bottom: 0.50rem;
  padding: 0;    
}

footer{
  background-color: var(--backgroundColor02);
  height: 200px;  
  width: 100vw;
  max-width: 960px;  
  margin: auto;
  margin-top: 2px;
}

footer > p{
  color: var(--textColor01);
  font-size: 0.75rem;
  text-align: center;  
  padding-top: 60px;  
}

@media (min-width:700px) {

  h1{
    font-size: 2.5rem;;
  }

  .menuItem{
    margin: auto;
    margin-bottom: 5px;
    font-size: 2rem;
  }

  .menuItem:hover{
    background-color: var(--contrastColor02);
    color: var(--textColorContrast);
  }  

  .menuLinkActive{
    margin: auto;
    margin-bottom: 5px;
    max-width: 650px; 
    font-size: 2.5rem;
    height: 40px;
  }

  .subTitle{
    font-size: 2.5rem;
  }

  .inputField{
    margin: auto;
    display: block;
    font-size: 1.3rem;
    height: 60px;    
  }

  .inputField:hover{
    border-color: var(--contrastColor02);
  }

  fieldset > label{
    font-size: 1.5rem;
  }

  .sendButton{
    margin: auto;
    margin-top: 20px;    
    display: block;
    height: 80px;
  }

  .sendButton:hover{
    background-color: var(--contrastColor02);
    color: var(--textColorContrast); 
  }

  .sendButton:active{
    transform: scale(0.9);
  }

  .form{
    padding-bottom: 10px;
  }

  .footer{
    height: 300px;
  }  
}